
.container{
    height : 100vh;
    width : 100vw;
}

main{
    margin-top: 32px;
    padding-bottom:32px; 
    height: 90%;
    display:flex;
    justify-content:center;
}

article{
    width : 100%;
    display:flex;
    justify-content : center;
    flex-basis:308.32px;
}
/* aside */
aside{
    background-image : url("photos/2phones.png");
    background-size : 468.43px 634.15px;
    background-position : center;
    background-repeat : no-repeat;
    width : 468.43px;
    /* height : 634.15px; */

    padding-top : 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    /* background, 이미지 위치 맞추고  */
    /* 875px 이하에서 hidden */
}

.manyphotos{
    width : 250px;
    height : 538.84px;
}


/* section */
section{
    font-size : 14px;
    display:flex;
    flex-direction : column;
    justify-content:center;
}

section div{
    text-align : center;
    margin-bottom : 10px;
}

/* log in */
.log-in{
    width : 350px;
    height : 410px;
    border : solid 1px lightgray;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.logo{
    margin : 36px 0 36px 0;
    width : 175px;
    height : 51px;
}

.log-in input{
    background-color : #fafafa;
    border : none;
    margin : 5px;
    width: 270px;
    height : 40px;
}

.log-in button{
    margin : 8px 0 0 8px;
    width : 270px;
    height : 35px;
    background-color : #4CB5F9;
    border : none;
    border-radius : 5px;
    align-items: center;
    color : white;
}

.log-in div{
    margin : 10px 0 10px 0;
    width : 270px;
    display: flex;
    flex-direction : row;
}

.log-in hr{
    background-color : rgb(219, 219, 219);
    opacity : 0.3;
    height : 0.05px;
    width : 40%;
    /* height : 2px; */

}


.sign-up{
    padding : 20px 0 20px 0;
    border : solid 1px lightgray;
    text-align : center;
}
.sign-up span{
    color:blue;
}
.download-imgs{
    width : 350px;
}
.download-imgs img{
    width : 134.28px;
    height : 40px;
}

/* footer */
footer{
    font-size : 12px;
    height : 10%;
    background-color:lightgreen;
}
.footer-first{
    display:flex;
    justify-content: center;
    /* align-items : stretch; */

    /* flex-direction : row; */
}
.footer-first div{
    margin: 0 10px;
}
.footer-second{
    text-align : center;
}