.container{
    height : 100vh;
    width : 100vw;
}

main{
    margin-top: 32px;
    padding-bottom:32px; 
    height: 90%;
    display:flex;
    justify-content:center;
}

article{
    width : 100%;
    display:flex;
    justify-content : center;
    flex-basis:308.32px;
}
/* aside */
aside{
    background-image : url("photos/2phones.png");
    background-size : 468.43px 634.15px;
    background-position : center;
    background-repeat : no-repeat;
    width : 468.43px;
    height : 634.15px;

    padding-top : 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    /* background, 이미지 위치 맞추고  */
    /* 875px 이하에서 hidden */
}

.manyphotos{
    width : 250px;
    height : 538.84px;
}


/* section */
section{
    
}

.logo{

}

.log-in{
    border : solid 1px lightgray;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.sign-in{
    border : solid 1px lightgray;
    text-align : center;
}
.sign-in span{
    color:blue;
}
.download-imgs{
    display:flex;
    flex-direction : row;
    align-items:center;
}
.download-imgs img{
    width : 200px;
}

/* footer */
footer{
    height : 10%;
    background-color:lightgreen;
}
.footer-first{
    display:flex;

    /* flex-direction : row; */
}
.footer-second{
    display:flex;
    text-align:center;
    align-items:center;
}